<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <form class="form-inline">

            <div class="form-group">
                <label>작성자 : [[${post.writer}]]</label>
            </div>

            <p class="small">[[${#temporals.format(post.regTime, 'yyyy/MM/dd HH:mm:ss')}]]</p>

            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" th:value="${post.title}" readonly>
            </div>
            <br>
            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" rows="10" th:text="${post.content}" name="content" readonly></textarea>
            </div>

            <a th:href="@{/board/modify/{bno}(bno = ${post.id})}">
                <button type="button" class="btn btn-primary">Modify</button>
            </a>
<!--            <div th:unless="${#strings.isEmpty(itemFormDto.id)}" style="text-align: center">-->
<!--                <button th:formaction="@{'/admin/item/' + ${itemFormDto.id} }" type="submit" class="btn btn-primary">수정</button>-->
<!--            </div>-->
        </form>
    </th:block>

</th:block>
</html>